<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    
    <!-- The following css and js files will be created by running "npm run start"
        from the root folder  -->
    <link href="../style/scss/style.css" rel="stylesheet">
    <script defer type="text/javascript" src="../js/build.js"></script>

</head>

<body>

    <!-- Put your code in the section tag  -->
    <h3 id="company-name"> Shine Solar </h3>
    <section id="JeremyCode">
        <div id="nav-bar">
            <div>Unassigned  <span class="num-orders"></span></div>
            <div>In progress  <span class="num-orders"></span></div>
            <div>Complete  <span class="num-orders"></span></div>
            <div>Requested Revision <span class="num-orders"></span></div>
        </div>
    </section>
    <!-- This is the template for the modal -->
    <div id="modal">
        <div>
            <ul id="modal-content">
            </ul>
        </div>
    </div>

</body>

</html>