<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    
    <!-- The following css and js files will be created by running "npm run start"
        from the root folder  -->
    <link href="../style/scss/style.css" rel="stylesheet">
    <script defer type="text/javascript" src="../js/build.js"></script>

</head>

<body>

    <!-- Put your code in the section tag  -->
    <h3 id="company-name"> Shine Solar </h3>
    <!-- In case you need to reset db.json to the initial state -->
    <button id="resetDatabase">Reset Database</button>
    <section id="JeremyCode">
        <div id="nav-bar">
            <div id="tab-id-1" class="tab">Unassigned  <span id="tab-length-1" class="num-orders">0</span></div>
            <div id="tab-id-2" class="tab">In progress  <span id="tab-length-2" class="num-orders">0</span></div>
            <div id="tab-id-3" class="tab">Complete  <span id="tab-length-3" class="num-orders">0</span></div>
            <div id="tab-id-4" class="tab">Requested Revision <span id="tab-length-4" class="num-orders">0</span></div>
        </div>
        <div id="order-table">
            <div id="headings">
                <div class="table-heading">Order id</div>
                <div class="table-heading">Lead Name</div>
                <div class="table-heading">Date Created</div>
            </div>
            <div id="rows-container"></div>
        </div>
    </section>
    <!-- This is the template for the modal -->
    <div id="modal">
        <div>
            <ul id="modal-content">
            </ul>
        </div>
    </div>

</body>

</html>