@import 'partials/main';

// Author: Jeremy Duong
body {
    //Overwrite the original body so company name shifts
    // to the left (to look like the picture)
    align-items: flex-start;
}

#company-name {
    display:flex;
    color: red;
    margin: 0px 0px 25px 0px;
}

// Styling inside the section tag
#JeremyCode {
    display:flex;
    flex-direction:column;
    padding: 40px;

    #nav-bar {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        // justify-content: space-around;
        width: 60%;

        div {
            font-size : 14px;
            padding : 5px;
            border : 1px;
            margin: 10px;
            font-weight: bold;
            border-radius : 20px;
            // background-color: rgb(207, 207, 207);

            span {
                color:white;
                padding : 2px 5px 2px 5px;
                border: 1px;
                margin: 0px 0px 0px 5px;
                border-radius: 50px;
                font-weight: bold;
                background-color: grey;
            }
        }
        div:hover {
            cursor: pointer;
        }
    }

    #order-table {
        display:flex;
        flex-direction: column;
        width: 100%;
        border: 1px;
        border-spacing: 5px;
        
        #headings, .table-row {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            width: 99%;
            clear: both;
            div {
                font-weight: bold;
            }
        }

        #headings {
            padding: 5px 10px 5px 10px;
            border: 1px;
            border-radius: 5px;
            margin: 2px;
            background-color: rgb(231, 227, 227);
            div {
                font-size: 12px;
            }
        }

        #rows-container {
            .table-row {
                padding: 10px;
                border: 1px;
                border-radius:2px;
                margin: 3px 2px 3px 2px;
                background-color: white;
                height:50px;
                align-items: center;
                .order-id {
                    color: rgb(51, 116, 255);
                }
                .progress-button {
                    opacity:0;
                }
            }
            .table-row:hover > .progress-button {
                display:flex;
                justify-content: center;
                align-items: center;

                width: 150px;
                padding: 2px;
                border:1px;
                border-radius: 5px;
                // margin:2px;

                background-color: rgb(40, 108, 255);
                color: white;
                opacity:1;
            }
            .table-row:hover > .progress-button:hover {
                cursor: pointer;
            }
        }

        
    }

    // table {
    //     #table-headings {
    //         padding: 0px 0px 10px 0px;
            
    //         th {
    //             text-align: start;
    //             border: 0px;
    //             padding: 0px 0px 10px 0px;
    //         }
    //     }
    //     .table-data {
    //         border-radius: 5px;
    //         height: 30px;
    //         td {
    //             border: 0px;
    //         }
    //     }
    //     .table-data:hover {
    //         cursor: pointer;
    //         background-color: rgb(221, 221, 221);
    //     }
    //     .user-name {
    //         color:dodgerblue;
    //     }
    // }
}

// Styling for the modal
// #modal {
//     display: none;
//     position: fixed;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     background-color: rgb(0,0,0);
//     background-color: rgba(0, 0, 0, 0.384);
//     div {
//         display:flex;
//         flex-wrap: wrap;
//         width: 50%;
//         background-color: #fefefe;
//         margin: 100px auto;
//         height: 50%;
//         border-radius: 10px;

//         #modal-content {
//             margin: 20px auto;
//             border: 10px 0px 0px 0px;
//             overflow: auto;
//             width: 91%;
//             height: 90%;
//             li {
//                 height: 35px;
//             }
//         }
//     }
// }
